{% extends 'base.html.twig' %}

{% block title %}New Chantier{% endblock %}

{% block body %}
<style>
    body{
        color:white;
    }
</style>
    <h1>Creation Nouveau Chantier</h1>

    {{ include('chantier/_form.html.twig') }}

    <a href="{{ path('app_chantier_index') }}" class="btn btn-primary" >Retour à la liste</a>
{% endblock %}
